@import "./main.css";

header div.bg-black{
    height: 24px;
    overflow: hidden;
}

.bg-black div:last-child p{
    text-align: right;
}

.page-break {
    page-break-after: always;
}

.hidden{
    display: none;
}

.visibility-hidden{    
    display: none;
}

.mrgTop20{
    margin-top: 20px;
}